* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
nav {
  background-color: teal;
  height: 120px;
  border-bottom: 8px solid rgb(184, 153, 75);
}
.hide{
  display:none;
}

#header1{
  font-size: 2.5rem;
}
#header4{
  display:none;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: rgb(184, 153, 75, .2);
  }
  
  
main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

#resultsbox{
  text-align: left;
  padding: 50px;
  margin: 10px;
  line-height: 2;
  background-color: rgb(217, 246, 246);
}

aside {
  flex: 1;
  margin: 20px;
  background-color: rgb(217, 246, 246);
  padding: 25px 80px 25px 80px;
  text-align: left;
}

/* Start Here header */
.startHere{
  font-weight: bold;
}

#participants{
  display: block;
}

/* if change to .container, the box will display ~center of the page */
.container {
  flex: 4;
  font-size: 24px;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; 
}
  
footer {
  background-color: teal;
  height: 50px;
  bottom: 0;
  border-top: 3px solid rgb(184, 153, 75);
}
  
@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */

main,
nav {
    flex-direction: column;
}
  /* Make the sidebar stack below the body */
nav {
  background-color: teal;
  height: 120px;
  max-width:100%;
  border-bottom: 8px solid rgb(184, 153, 75);
}
aside {
  flex-direction: column;
  
}

#header1{
  display:none;
  
}

#header4{
  display:contents;
  display:flex;
  justify-content:center;
  font-size: 26px;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}


main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.results {
  text-align: center;
}

aside {
  flex: 1;

  background-color: rgb(217, 246, 246);
  text-align: left;
}

#participants{
  display: block
}


footer {
  background-color: teal;
  height: 50px;
  max-width:100%;
  bottom: 0;

}
}



