nav {
  background-color: teal;
  height: 120px;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.results {
  text-align: center;
}

aside {
  flex: 1;
  max-width: 25%;
  background-color: rgb(217, 246, 246);
  padding: 80px;
  text-align: left;
}

.results {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; 
}

footer {
  background-color: teal;
  height: 50px;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  aside {
    flex-direction: column;

  }
}
